<!-- 
  .row>.col*2
-->

<div class="row">
  <div class="col">

    <app-items-list
      [items]="playlists"
      [selected]="selected"
      (selectedChange)="select($event)"
    >
    </app-items-list>
  </div>

  <div class="col">
    <ng-container [ngSwitch]="mode">
      <div *ngSwitchDefault>
        <app-playlist-details [playlist]="selected" (edit)="onEdit()">
        </app-playlist-details>
      </div>

      <div *ngSwitchCase="'edit'">
        <app-playlist-form
          [playlist]="selected"
          (cancel)="onCancel()"
          (save)="updatePlaylist($event)"
        >
        </app-playlist-form>
      </div>
    </ng-container>
  </div>
</div>
