<!-- 
  dl>(dt+dd)*3 
-->

<dl [title]="playlist.name + ' Placki!'" [attr.data-playlist-id]="playlist.id">
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Favourite</dt>
  <dd>{{ playlist.favorite ? "Yes" : "No" }}</dd>

  <dt>Color</dt>
  <!-- <dd [style.color]="playlist.color"
      [style.background-color]="playlist.color">
    {{ playlist.color }}
  </dd> -->
  <dd
    [ngStyle]="{
      color: playlist.color,
      backgroundColor: playlist.color
    }"
  >
    {{ playlist.color }}
  </dd>
</dl>


<input type="button" value="Edit" (click)="onEdit()" />