<!-- https://getbootstrap.com/docs/4.3/components/input-group/#button-addons -->

<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    (keyup.enter)="search(queryForm.get('query').value)"
    formControlName="query"
  />

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">
      <div *ngIf="field.hasError('required')">Required</div>

      <div *ngIf="field.getError('minlength') as error">
        Min length is {{ error.requiredLength }}
      </div>
      <div *ngIf="field.getError('censor') as error">
       Cannot contain word "{{error.badword}}"
      </div>
    </ng-container>
  </ng-container>

  <!--  <div class="input-group-append">
    <button class="btn btn-outline-secondary" 
            (click)="search(queryForm.get('query').value)">
      Search
    </button>
  </div> -->
</div>
